# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
plan.tfplan
*.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/
# Azure
*.PublishSettings

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# App Service (arquivos temporários/logs)
app/instance/
app/*.db  # Exclui bancos SQLite locais
app/.env

# Pasta de pacotes Python
app/__pycache__/